*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
}
.circle{
    width: 40px;
    height: 40px;
}
/* .background-vid{
    width: 100%;
    height: ;
} */
/* .background-vid{
   position: absolute;
   left: 50%;
}
.bg-img{
    position: absolute;
    z-index: 12;
} */